
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    background: black; /*#65676F; /*65676F, BCC6CC, */
    vertical-align: baseline;
	padding-bottom: 70px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 2.5em;
	min-width: 800 px;
	padding: 20 px;
}

row{
min-width: 800 px;
padding: 30 px;
}

container {
min-width: 700 px;
}

/*HEADER*/
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 200;
  font-size: 80px;
  margin: 0;
  color: #2162CC/*#0b1528*/;
  text-align: left;
}

header h3 {
  padding: 0 20px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

/*LINKS*/
a:link{
    text-decoration: none;
    color: #black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #003300;
}

a:active {
    text-decoration: none;
}


/*MAIN AREA*/

spotlight {
background-color: blue;
min-width:500 px;
padding: 30 px;
}

div.spotlight {
align-items: center;
justify-content: center
/*
min-height: 10em;
display: table-cell;
vertical-align:middle;
*/
}

.element {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

spotlight .row{
display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-align-items: center;
   -webkit-justify-content: center;
}

spotlight .img {
	float: left;
	width: 100%;
	height: 150px;
	border-radius: 50%;

	-webkit-shape-outside: circle();
		-webkit-shape-margin: 15px;
}

info1 {
background-color: gray;
min-width:50 px;
}

info2 {
background-color: gray;
min-width:50 px;
}

introbanner{

    margin-left: auto;
    margin-right: auto;
   text-align: center;

}

introbanner p {
  padding: 0 20px;
  margin: 0;
  color: black;
  font-size: 18px;
}

introbanner h3 {
  padding: 0 20px;
  margin: 0;
  color: black;
}

.circle.tcircle {
background-image: url("Figs/Jelly2.jpg");
}

.circle {
position: relative;
border-radius: 50%;
width: 100%;
height: 0;
padding: 50% 0;
font-size: 2em;
color:#fff;
line-height: 0;
background-image: url("Figs/gear1.png");
background-size: cover;
text-align:center;
font-weight: 100;






    -webkit-transition: all 0.6s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.6s ease;
}



.circle:hover, .circle.hovered {
	-webkit-box-shadow: inset 0 0 0 0px #0047c1;
	box-shadow: inset 0 0 0 0px #0047c1;
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url("Figs/gear2.png");
    background-size: cover;
}

/*
#open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
*/
/*
.mfp-image-holder .mfp-content {
line-height: 0;
width: auto;
max-width: 600px;
}*/



.mfp-content{
    /*width:70%;*/
    max-width: 70%;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}s

/*
.mpf-img{
    width:80%;
    max-width: 100px;;
}
*/



/*CONTENT BLOCK*/

contentBlock {
  width: 100%;
  height: 50%;
  float: left;
  overflow: auto;
  position: relative;
  text-align: left;
  cursor: default;
  -webkit-transition: all 0.3s ease-out 0.5s;
  transition: all 0.3s ease-out 0.5s;
  background-image: url("Figs/Jelly2.jpg");
    /*background-size: cover;*/
}

contentBlock .img {
  display: block;
  position: relative;
  width:100%
}

contentBlock p {
  padding: 0 20px;
  margin: 0;
  color: white;
  font-size: 18px;
}





/*HOVER BIO STUFF*/

.hovereffect {
  width: 100%;
  height: 50%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}


.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out 0.5s;
  transition: all 0.3s ease-out 0.5s;
}

/*.hovereffect:hover, */
.hovereffect.hovered .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  /*text-transform: uppercase;*/
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 30px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


/*.hovereffect:hover,*/
.hovereffect.hovered h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}




.hovereffect p {
  color: black;
  text-align: left;
  position: relative;
  padding: 30px;
  margin-left: 60px;
  /*background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;*/
}

.hovereffect h1 {
  color: black;
  text-align: center;
  position: relative;
  font-size: 24px;
  padding: 30px;
  border: 1px solid red;
  margin-left: 30px;
  }


.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover, .info.hovered {
  box-shadow: 0 0 5px #fff;
}

/*.hovereffect:hover,*/
.hovereffect.hovered a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.writerBio {
  color: black;
  text-align: left;
  position: relative;
  font-size: 1.5vw;
  padding: 18px;
  /* border: 2px black; */
  margin-left: 60px;
  margin-right: 60px;

  .parallax-window {
	min-height: 400px;
	background: transparent;
}


.writerBio p {
text-indent 5 px;
text-align:left;
}
